

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h3 class="modal-title">แสดงรายละเอียดหนังสือ</h3>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p style="text-align: center;">ข้อมูลของเอกสาร</p>
              <div class="container">

                <div class="row" style="text-align: center">
                  <div class="col-md-6">
                    <p>ชั้นความเร็ว :</p>
                  </div>
                  <div class="col-md-6">
                    <p>ชั้นความลับ :</p>
                  </div>
                </div>

              <div class="row">
                <div class="col-md-12">
                  <div>
                      <p>การปฏิบัติ :</p>
                  </div>
                </div>
              </div>
             
              <div class="row">
                <div class="col-md-12">
                  <div>
                      <p>หมายเหตุ :</p>
                  </div>
                </div>
              </div>
             
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <p>ไฟล์เอกสาร :</p>
                  </div>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <div>
                        <button type="button" class="btn btn-danger">ดูเอกสาร</button>
                        <button type="button" class="btn btn-danger">ดาวน์โหลดเอกสาร</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                      
                    </div>
                </div>
              </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" (click)="c('Close click')">Close</button>
            </div>
          </ng-template>
          
          <!-- <button class="btn btn-outline-primary mb-1" (click)="openWindowCustomClass(content)">Modal with window custom class</button>
          <button class="btn btn-outline-primary mb-1" (click)="openBackDropCustomClass(content)">Modal with backdrop custom class</button>
          <button class="btn btn-outline-primary mb-1" (click)="openSm(content)">Small modal</button>
          <button class="btn btn-outline-primary mb-1" (click)="openLg(content)">Large modal</button> -->
          <button class="btn btn-primary  " (click)="openVerticallyCentered(content)">แสดง</button>
