<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">  
        <div class="col-12 col-sm-12 col-md-12">
            <div id="middleblock">
                <div class="card text-center">
                    <div class="card-body text-center" style="background-color:#832EBF">    
                        <div class="card col-sm-12 col-md-12" style="background-color:#a6c9e2">
                            <div class="card-body">                  
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="middleblock">
                                                    <div class="card">
                                                            <div class="card-header" style="background-color: #650DAD;color: aliceblue">
                                                                <ul class="nav nav-tabs card-header-tabs">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" href="#">วันที่</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" href="#">เลขหนังสือ</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" href="#">เลขทะเบียน</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" href="#">ชื่อเรื่อง</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" href="#">หน่วยงาน</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                            <a class="nav-link" href="#">ปี</a>
                                                                        </li>
                                                                    <li class="ml-auto">                  
                                                                        <div class="input-group input-group-sm ml-auto" style="width: 300px;">
                                                                            <input type="text" name="table_search" class="form-control pull-right" placeholder="ค้นหา">             
                                                                            <div class="input-group-btn">
                                                                                <button type="button" class="btn btn-primary">ค้นหา <i class="fa fa-search"></i></button>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>                                         
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="table-responsive">
                                                                    <table class="table border-bottom">
                                                                            <thead class="thead" style="background: #2d60c6;color: aliceblue">
                                                                                <tr>
                                                                                <th scope="col">ลำดับ</th>
                                                                                <th scope="col">ที่ ศธ.</th>
                                                                                <th scope="col">เลขทะเบียนส่ง</th>
                                                                                <th scope="col">ลงวันที่</th>
                                                                                <th scope="col">ลงที่จอง</th>
                                                                                <th scope="col">จาก</th>
                                                                                <th scope="col">ถึง</th>
                                                                                <th scope="col">เรื่อง</th>
                                                                                <th scope="col">รายละเอียด</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr *ngFor="let s of show | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                                                                <th scope="row">{{numpage+(i + 1)}}</th>
                                                                                <td>ศธ. ๐๕๙๐.๑๕(๔)/</td>
                                                                                <td>{{s.number_of_book}}</td>
                                                                                <td>{{s.date_id.day_time}}/{{s.date_id.mounth_time}}/{{s.date_id.year_time}}</td>
                                                                                <td>{{s.date_id.day}}/{{s.date_id.month}}/{{s.date_id.year}}<br>{{s.date_id.hour}}:{{s.date_id.minute}} น.</td>
                                                                                <td>{{s.sender}}</td>
                                                                                <td>{{s.to}}</td>
                                                                                <td>{{s.name}}</td>
                                                                                <td>
                                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#exampleModal'+i">
                                                                                        แสดง
                                                                                      </button>
                            
                                                                                      <!-- Modal -->
                                                                <div class="modal fade bd-example-modal-lg" id="exampleModal{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog modal-lg" role="document">
                                                                          <div class="modal-content">
                                                                            <div class="modal-header">
                                                                              <h3 class="modal-title">แสดงรายละเอียดหนังสือ{{s.id}}</h3>
                                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                              </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <p style="text-align: center;">ข้อมูลของเอกสาร</p>
                                                                                <div class="container">
                                                                  
                                                                                  <div class="row" style="text-align: center">
                                                                                    <div class="col-md-6">
                                                                                      <p>ชั้นความเร็ว : {{s.speed}}</p>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                      <p>ชั้นความลับ : {{s.secret}}</p>
                                                                                    </div>
                                                                                  </div>
                                                                  
                                                                                <div class="row" style="text-align: left">
                                                                                  <div class="col-md-12">
                                                                                    <div>
                                                                                        <p>การปฏิบัติ : {{s.practice}}</p>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                               
                                                                                <div class="row" style="text-align: left">
                                                                                  <div class="col-md-12">
                                                                                    <div>
                                                                                        <p>หมายเหตุ : {{s.note}}</p>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                               
                                                                                <div class="row" style="text-align: left">
                                                                                  <div class="col-md-4">
                                                                                    <div>
                                                                                      <p>ไฟล์เอกสาร :</p>
                                                                                    </div>
                                                                                  </div>
                                                                                  <div class="col-md-4" style="text-align: center;">
                                                                                      <div>
                                                                                        <!-- <button type="button" class="btn btn-danger"><i class="fas fa-eye"></i></button>
                                                                                        <button type="button" class="btn btn-danger"><i class="fas fa-download"></i></button> -->
                                                                                      </div>
                                                                                  </div>
                                                                                  <div class="col-md-4">
                                                                                      <div>
                                                                                        
                                                                                      </div>
                                                                                  </div>
                                                                                </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                        </td>
                                                                        </tr>                        
                                                                            </tbody>
                                                                    </table>
                                                                </div>
                                                            </div> 
                                                    <div class="card-footer"  style="background-color: #650DAD;">
                                                        <ul class="pagination fa-pull-right">
                                                            <pagination-controls (pageChange)="p = $event" style="border-radius: 5px;" (pageChange)="numPage($event)"></pagination-controls>
                                                        </ul>         
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer> 