/* .row{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
} */
#middleblock{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#tapone:hover{
    background-color: darkgoldenrod;
}
#taptwo:hover{
    background-color: brown;
}
#tapthree:hover{
    background-color: cornflowerblue;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
input[type="text"]{
    border: none;
    outline: none;
    border-radius: 25px 0 0 25px;
}
#submit{
    border: none;
    outline: none;
    border-radius: 0 25px 25px 0;
}
.search-box{
    position: absolute;
    transform: translate(-50%,-50%);
    background:dodgerblue;
    border-radius: 40px;
    padding: 10px;
}
.search-btn{
    float: right;
    border-radius: 50%; 
    /* background:  */
    justify-content: center;
    align-items: center;
    display: flex;
}
.search-box:hover > .search-text{
    width: 240px;
    padding: 0 6px;
}
.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0 ;
    color: aliceblue;
    font-size: 16px;
    transition: 0.4;
    line-height: 40px;
    width: 0px;
} 