<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">  
        <div class="col-12 col-sm-12 col-md-12">
            <div id="middleblock">
                <div class="card text-center">
                    <div class="card-body text-center" style="background-color:#832EBF">
                        <!-- <div class="container-fluid">
                                <div class="row"> -->
                                    <div class="card col-sm-12 col-md-12" style="background-color:#a6c9e2">
                                        <div class="card-body">
                                                <!-- <div class="container">
                                                        <div class="row"> -->
                                                            <div class="col-12 col-sm-12 col-md-12">
                                                            <div class="card">
                                                                <div class="card-header" style="background-color: #650DAD;color: aliceblue">
                                                                    <ul class="nav nav-tabs card-header-tabs">
                                                                        <li class="nav-item">
                                                                            <a class="nav-link" href="#">หาจากวันที่</a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link" href="#">หาจากเลขหนังสือ</a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link" href="#">หาจากเลขทะเบียน</a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link" href="#">หาจากชื่อเรื่อง</a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link" href="#">หาจากหน่วยงาน</a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                                <a class="nav-link" href="#">หาจากปี</a>
                                                                            </li>
                                                                        <li class="ml-auto">
                                                                            <div class="input-group input-group-sm ml-auto" style="width: 300px;">
                                                                                <input type="text" name="table_search" class="form-control pull-right" placeholder="ค้นหา">             
                                                                                    <div class="input-group-btn">
                                                                                        <button type="button" class="btn btn-primary">ค้นหา <i class="fa fa-search"></i></button>
                                                                                    </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>                 
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="table-responsive">
                                                                        <table class="table border-bottom">
                                                                                <thead class="thead" style="background: #2d60c6;color: aliceblue">
                                                                                  <tr>
                                                                                    <th scope="col">#</th>
                                                                                    <th scope="col">วันที่</th>
                                                                                    <th scope="col">เลขทะเบียน</th>
                                                                                    <th scope="col">เลขหนังสือ</th>
                                                                                    <th scope="col">เรื่อง</th>
                                                                                    <th scope="col">จากหน่วยงาน</th>
                                                                                    <th scope="col">รายละเอียด</th>
                                                                                    <th scope="col">ไฟล์</th>
                                                                                  </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                  <tr>
                                                                                    <th scope="row">1</th>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td><a href="javacript:void(0)" ><app-detail></app-detail></a></td>
                                                                                    <td></td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <th scope="row">2</th>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td><a href="javacript:void(0)" ><app-detail></app-detail></a></td>
                                                                                    <td></td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <th scope="row">3</th>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td><a href="javacript:void(0)" ><app-detail></app-detail></a></td>
                                                                                    <td></td>
                                                                                  </tr>
                                                                                </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div> 
                                                                <div class="card-footer"  style="background-color: #650DAD;">
                                                                    <nav aria-label="Page navigation example">
                                                                        <ul class="pagination fa-pull-right">
                                                                            <li class="page-item">
                                                                            <a class="page-link" href="#" aria-label="Previous">
                                                                                <span aria-hidden="true">&laquo;</span>
                                                                                <span class="sr-only">Previous</span>
                                                                            </a>
                                                                            </li>
                                                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                                            <li class="page-item">
                                                                            <a class="page-link" href="#" aria-label="Next">
                                                                                <span aria-hidden="true">&raquo;</span>
                                                                                <span class="sr-only">Next</span>
                                                                            </a>
                                                                            </li>
                                                                        </ul>
                                                                    </nav>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        <!-- </div>
                                                    </div> -->
                                        </div>
                                    </div>
                                <!-- </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer> 