<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">  
        <div class="col-md-12">
            <div id="middleblock">
                <div class="card text-center">
                    <div id="cb1" class="card-body text-center">    
                        <div id="c1" class="card col-md-12">                       
                            <div class="card-body">                  
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                                <h4>แก้ไขผู็ที่ลงนาม</h4>
                                            <div id="middle">
                                                <div class="card">
                                                    <div class="card-header">

                                                    </div>
                                                    <div class="card-body">

                                                    </div>
                                                    <div class="card-footer">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer>  -->
