<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <a class="navbar-brand" href="#">
        <img src="/assets/P/Flash2.jpg" width="30" height="30" alt="" style="border-radius: 6px;">
      </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">หน้าแรก<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Login.html">ออกเลขหนังสือ</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [ronterLink]="['/table_1']">ค้นหาหนังสือ</a>
        </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ชนิดของหนังสือ
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">ชนิดที่1</a>
          <a class="dropdown-item" href="#">ชนิดที่2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">ชนิดที่3</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button [routerLink]="['/login']" class="btn btn-secondary">เข้าสู่ระบบ</button>
    </form>
     </div>
  </nav>