<nav class="navbar fixed-top navbar-expand-lg " style="background-color:#832EBF;color: aliceblue">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <a class="navbar-brand" href="javascript:void(0)" (click)="goTo('0')">
        <img src="/assets/P/Flash2.jpg" width="30" height="30" alt="" style="border-radius: 6px;">
      </a>
  <button style="border-color: white;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars fa-lg" style="color: white"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0)" (click)="goTo('0')">หน้าแรก<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="goTo('1')">ออกเลขหนังสือ</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="goTo('2')">ค้นหาหนังสือ</a>
        </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ชนิดของหนังสือ  
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/table1']" href="#">ชนิดที่1</a>
          <a class="dropdown-item" [routerLink]="['/table1']" href="#">ชนิดที่2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/table1']"  href="#">ชนิดที่3</a>
          <a class="dropdown-item" [routerLink]="['/table1']"  href="#">ชนิดที่4</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/table1']"  href="#">ชนิดที่5</a>
          <a class="dropdown-item" [routerLink]="['/table1']"  href="#">ชนิดที่6</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" [routerLink]="['/profile']">ข้อมูลส่วนตัว</a>
      </li>
    </ul>   
    <div style="padding: 2px;">
      
    </div>
        <div *ngIf="!is_login" style="padding: 2px;">
          <form class="form-inline my-2 my-lg-0">
            <button [routerLink]="['/login']" class="btn btn-outline-light">เข้าสู่ระบบ <i class="fas fa-sign-in-alt"></i></button>
          </form>       
        </div>
        <div style="padding: 2px;">
        <!-- <button type="button"class="btn btn-outline-light"> -->
          <!-- <span [routerLink]="['/profile']" style="background-color: rgb(56, 16, 85); padding-top:10px ;padding-bottom:10px ;padding-right:10px ;padding-left:10px ;border-radius: 6px; ">
              <a>{{sn.FirstName_TH}} {{sn.LastName_TH}} </a>
          </span> -->
          <button class="btn btn-outline-light" [routerLink]="['/profile']" style="border-color: #832EBF">  
            <a>{{sn.FirstName_TH}} {{sn.LastName_TH}} </a> 
          </button>
        <!-- </button> -->
        </div>
        <div *ngIf="is_login" style="padding:2px;">
          <form class="form-inline my-2 my-lg-0">
            <button (click)="logout()" class="btn btn-outline-light">ออกจาระบบ <i class="fas fa-sign-out-alt"></i></button>
          </form>
        </div>
       <br>
       <br>
       <br>
      
     </div>
  </nav>