<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">  
    <div class="col-12 col-sm-12 col-md-12">
      <div id="middleblock">
        <div class="card text-center">
            <div class="card-body text-center" style="background-color:#832EBF">
              <div class="container-fluid">
              <div class="row">
                  <div class="card col-sm-12 col-md-12" style="background-color:#a6c9e2">
                    <div class="card-body"><h2>ข้อมูลส่วนตัว</h2><br>
                      <div class="border border-primary" style="padding-right: 15px;padding-left: 15px;border-radius: 6px;background-color:rgba(223, 215, 215, 0.904)">
                        <br>
                      <div class="row">
                        <div class="col-2" >
                          <div class="row ">
                            <img src="/assets/P/batman.png" height=100%; width=80%; style="display: block;margin-left: auto;margin-right: auto;">
                          </div>
                          <br>
                          <div class="row">
                            <h2 style="margin:auto">57021498</h2>
                          </div>
                        </div>
                        <div class="col-10 border-left">
                          <div class="container border border-warning" style="padding-top: 30px;padding-right: 30px;padding-bottom: 30px;padding-left: 30px;border-radius: 6px; background-color:rgba(150, 150, 196, 0.959)">
                            <div class="row col-12">
                                <table class="col-12 col-md-12">
                             <!--   <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                      </tr>
                                    </thead> -->
                                    <tbody style="text-align:left;font-size: 1em;">
                                      <tr>
                                        <td scope="row" width="20%"><b>รหัสพนักงาน :</b></td>
                                        <td >57021498</td>                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">ชื่อ-สกุล :</th>
                                        <td>กฤษติน ศรีบุญไชย</td>                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">ตำแหน่ง :</th>
                                        <td>พนักงานระดับ2</td>                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">สถานะ :</th>
                                        <td>ใช้งาน</td>                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">จำนวนเอกสารที่มี :</th>
                                        <td>36 รายการ</td>                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">หน่วยงาน :</th>
                                        <td>ห้องช่าง</td>                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">เบอร์โทร :</th>
                                        <td>084-5759780</td>                                       
                                      </tr>     
                                    </tbody>
                                  </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                    </div>
                    </div>
                  </div>   
              </div>
              <br>
              <div class="row">
                  <div class="card col-sm-12 col-md-12" style="background-color:#a6c9e2">
                    <div class="card-body"><h2>หนังสือทั้งหมด</h2>
                      <br>
                      <div class="card">
                        <div class="card-header" style="background-color: #650DAD;">
                          <div class="box-tools">
                            <div class="input-group input-group-sm ml-auto" style="width: 300px;">
                              <input type="text" name="table_search" class="form-control pull-right" placeholder="ค้นหา">             
                              <div class="input-group-btn">
                                <button type="button" class="btn btn-primary">ค้นหา <i class="fa fa-search"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body" >
                          <div class="table-responsive">
                              <table class="table table-hover border-bottom" >
                                  <thead style="background: #2d60c6;color: aliceblue">
                                    <tr>
                                      <th scope="col">เลขหนังสือ</th>
                                      <th scope="col">วันที่</th>
                                      <th scope="col">เรื่อง</th>
                                      <th scope="col">จากหน่วยงาน</th>
                                      <th scope="col">ราละเอียด</th>
                                      <th scope="col">ไฟล์</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>1</td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td><a href="javacript:void(0)" ><app-detail></app-detail></a></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td>2</td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td><a href="javacript:void(0)" ><app-detail></app-detail></a></td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td>3</td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td><a href="javacript:void(0)" ><app-detail></app-detail></a></td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                                </table>
                          </div>
                        </div> 
                        <div class="card-footer text-center" style="background-color: #650DAD;">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination fa-pull-right">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                      </div>
                    </div>
                  </div> 
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer> 