/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.ngx-pagination .current{
    border-radius: 5px !important;
    
}
.ngx-pagination a, .ngx-pagination button {
    border-radius: 5px !important;
    color:aliceblue !important;
    background-color: darkblue !important;
}