<app-navbar></app-navbar> 
<section >
<div class="container-fluid">
    <div class="row">  
        <div class="col-12 col-sm-12 col-md-12">
            <div id="middleblock">
                <div class="card text-center">
                    <div class="card-body text-center" style="background-color:#832EBF">
                        <div class="card col-sm-12 col-md-12" style="background-color:#a6c9e2">
                            <div class="card-body">
                            <div class="container">
                                <div class="row">
                                <div class="col-12 col-sm-12 col-md-12">
                                <div id="middleblock">
                                        <div class="card text-center">
                                        <div class="card-header" style="background-color: #650DAD;color: aliceblue; padding-bottom: 45px; ">                                                                
                                        </div>

                                        <div class="card-body">
                                        <div>
                                            <h4>แบบหนังสือส่งภายใน</h4>
                                            <p>รายละเอียดของหนังสือ</p>
                                        </div>
                                        <br>
                                        <div class="container">
                                        <div class="row">
                                                <div class="col-md-3">
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">ที่ ศธ.</label>
                                                    </div>
                                                    <input type="text" class="form-control" value="ศธ. 1590.15(4)/" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">เลขหนังสือ</label>
                                                    </div>
                                                    <input type="text" class="form-control" value="{{NumberC}}" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">ชั้นความเร็ว</label>
                                                    </div>
                                                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="speed" name="speed">
                                                        <option  value="ปกติ" selected>ปกติ</option>
                                                        <option value="ด่วน">ด่วน</option>
                                                        <option value="ด่วนมาก">ด่วนมาก</option>
                                                        <option value="ด่วนที่สุด">ด่วนที่สุด</option>
                                                    </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">ชั้นความลับ</label>
                                                    </div>
                                                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="secret" name="secret">
                                                        <option value="ปกติ" selected>ปกติ</option>
                                                        <option value="ลับ">ลับ</option>
                                                        <option value="ลับมาก">ลับมาก</option>
                                                        <option value="ลับที่สุด">ลับที่สุด</option>
                                                    </select>
                                                        </div>        
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">ชื่อหน่วยงาน</label>
                                                    </div>
                                                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="formm" name="formm">
                                                        <option selected value="undefined" disabled>เลือก...</option>
                                                        <option value="สาขาวิศวกรรมคอมพิวเตอร์ คณะเทคโนโลยีสารสนเทศและการสื่อสาร">สาขาวิศวกรรมคอมพิวเตอร์ คณะเทคโนโลยีสารสนเทศและการสื่อสาร</option>
                                                    </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">ลงวันที่จองหนังสือ</label>
                                                    </div>
                                                    <!-- {{month4show}} -->
                                                    <input type="text" class="form-control" value="{{hour}}:{{minute}}:{{second}} {{date}}/{{mounth}}/{{year}}"readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">ชื่อเรื่องหนังสือ</label>
                                                    </div>
                                                    <input type="text" class="form-control"  placeholder="ลงชื่อเรื่องหนังสือ" [(ngModel)]="name" name="name" (ngModelChange)="name = $event">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="">
                                                    <div class="input-group-prepend">
                                                        <!-- <label class="input-group-text" for="inputGroupSelect01">ลงวันที่หนังสือ</label> -->
                                                    </div>
                                                        <!-- <input type="date" class="form-control" [(ngModel)]="datepicker" (change)="datePicker($event)" name="datepicker" id="datepicker"> -->
                                                        <!-- <input class="input-medium" type="text" data-provide="datepicker" data-date-language="th-th"> -->
                                                        <!-- <input class="input-medium" type="text" data-provide="datepicker" data-date-language="th-th"> -->
                                                        <my-date-picker name="mydate" placeholder="ลงวันที่หนังสือ" [options]="myDatePickerOptions"  name="datepicker" id="datepicker" (ngModelChange)="newdatepicker($event)" [(ngModel)]="datepicker" required></my-date-picker>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">เรียน</label>
                                                    </div>
                                                    <input type="text" class="form-control"  placeholder="เรียน" [(ngModel)]="to" name="to">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">ผู้ลงนามในหนังสือ</label>
                                                    </div>
                                                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="sender" name="sender">
                                                        <option value="undefined" disabled selected>ผู้ลงนามในหนังสือ....</option>
                                                        <ng-container *ngIf="ln.Status == 'Admin'"><option  *ngFor="let sa of se " value="{{sa.firstname}} {{sa.lastname}}">{{sa.firstname}} {{sa.lastname}}</option></ng-container>
                                                        <option *ngIf="ln.Status != 'Admin'" value="{{ln.FirstName_TH}} {{ln.LastName_TH}}">{{ln.FirstName_TH}} {{ln.LastName_TH}}</option>
                                                        <option *ngFor="let cc of si " value="{{cc.name}}">{{cc.name}}</option>
                                                    </select>
                                                        </div>        
                                                </div>
                                                <!-- <div class="col-md-6">
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">ผู้ลงนามในหนังสือ</label>
                                                    </div>
                                                    <input type="text" id="typeahead-basic" class="form-control"  placeholder="ผู้ลงนามในหนังสือ" [(ngModel)]="sender" name="sender" [ngbTypeahead]="search" >
                                                    </div>
                                                </div> -->
                                            </div>
                                            <!-- <div class="row"> -->
                                                <!-- <div class="col-md-6">
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">สถานะการดำเนินการ</label>
                                                    </div>  
                                                   
                                                    <div class="form-check form-check-inline" style="padding-left: 30px;">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                            <label class="form-check-label" for="inlineRadio1">เสร็จสมบูรณ์</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                            <label class="form-check-label" for="inlineRadio1">กำลังดำเนินการ</label>
                                                    </div>
                                                
                                                    </div>
                                                    
                                                </div> -->
                                                <!-- <div class="col-md-6">
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">โหลดไฟล์</span>
                                                    </div>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="inputGroupFile01" id="avatar" (change)="onFileChange($event)">
                                                        <label class="custom-file-label" for="inputGroupFile01" (click)="onUpload()">เลือกไฟล์เอกสาร</label>
                                                    </div>
                                                    </div>
                                                </div> -->
                                            <!-- </div> -->
                                            <div class="row">
                                                <div class="col-md-6" style="text-align: left ">
                                                    <div class="form-group">
                                                <label for="exampleFormControlTextarea1">**หมายเหตุ**</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="note" name="note"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="text-align: left ">
                                                    <div class="form-group">
                                                <label for="exampleFormControlTextarea1">**การปฏิบัติ**</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="practice" name="practice"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div> 

                                    <div class="card-footer" style="background-color: #650DAD;">
                                            <button type="button" *ngIf="checktable == 4 " (click)="putDocumnet(id)" class="btn btn-warning">อัพเดท</button>
                                        <button type="button" *ngIf="button_change" (click)="putDocumnet()" class="btn btn-warning">อัพเดท</button>
                                        <button type="button" *ngIf="!button_change&&checktable != 4" (click)="postDocumnet()" class="btn btn-primary">บันทึก</button>
                                        <button type="button" (click)="onClickReset()" *ngIf="checktable == 0 " class="btn btn-danger">ยกเลิก</button>
                                        <button type="button" (click)="onClickReset()" *ngIf="checktable == 2 " [routerLink]="['/table1']" class="btn btn-danger">กลับ</button>
                                        <button type="button" (click)="onClickReset()" *ngIf="checktable == 1 " [routerLink]="['/profile']" class="btn btn-danger">กลับ</button>
                                        <button type="button" (click)="onClickReset()" *ngIf="checktable == 3 " [routerLink]="['/table1']" class="btn btn-danger">กลับ</button>
                                        <button type="button" (click)="onClickReset()" *ngIf="checktable == 4 " [routerLink]="['/table1']" class="btn btn-danger">กลับ</button>
                                    </div>
                                    </div>
                                </div>      
                                </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section style="background: #282b2f;color: #bdbdbd;padding: 30px; font-family: 'Dosis', sans-serif;
text-align: center; text-transform: uppercase; ">
        <div class="container" style="margin-right: auto;margin-left: auto;padding-left: 15px;padding-right: 15px;">       
            <div class="row" style="margin-left: -15px;margin-right: -15px;">
                    <!-- <div class="counter col-md-4" style="font-family: 'Dosis', sans-serif;text-align: center;text-transform: uppercase;"> 
                            <span  data-toggle="countTo" data-to="9" data-after="M" data-decimals="1" style="display: block;font-size: 56px;letter-spacing: 6px;line-height: 1.1;">920.27M+</span> 
                            <small style="display: block;font-size: 12px;letter-spacing: 3px;">Records</small> 
                            </div> 
                            <div class="counter col-md-4" style="font-family: 'Dosis', sans-serif;text-align: center;text-transform: uppercase;"> 
                            <span data-toggle="countTo" data-to="1" data-after="M" data-decimals="1" style="display: block;font-size: 56px;letter-spacing: 6px;line-height: 1.1;">13.66M+</span> 
                            <small style="display: block;font-size: 12px;letter-spacing: 3px;">Players</small> 
                            </div> 
                            <div class="counter col-md-4" style="font-family: 'Dosis', sans-serif;text-align: center;text-transform: uppercase;"> 
                            <span data-toggle="countTo" data-to="1" style="display: block;font-size: 56px;letter-spacing: 6px;line-height: 1.1;">17,853</span> 
                            <small style="display: block;font-size: 12px;letter-spacing: 3px;">Matches Today</small> 
                    </div> -->
                    <div class="container col-md-4">
                        <span style="font-size: 56px">{{iddocc}}</span>
                        <br>
                        <small>จำนวนเอกสารทั้งหมด</small>
                    </div>
                    <div class="container col-md-4">
                        <span style="font-size: 56px">{{idnum}}</span>
                        <br>
                        <small>จำนวนผู้ใชเว็บไชต์</small>
                    </div>
                    <div class="container col-md-4">
                        <span style="font-size: 56px"></span>
                        <br>
                        <small>จำนวนเอกสารต่อปี</small>
                    </div>
            </div>
        </div>
</section>
<section style="padding-bottom: 100px;">

</section>
<!-- <section>
<div class="container-fluid">
    <div class="row">  
        <div class="col-12 col-sm-12 col-md-12">
            <div id="middleblock">
                <div class="card text-center">
                    <div class="card-body text-center" style="background-color:#832EBF">
                       
                        <div class="card col-sm-12 col-md-12" style="background-color:#a6c9e2">
                            <div class="card-body">
                                    <div class="container">
                                            <div class="row ">
                                               <div class="col-12 col-sm-12 col-md-12">
                                                   <div id="middleblock">
                                                   <div class="card">
                                                        <div class="card-body">
                                                            <div class="container">
                                                                <div class="row" style="margin-top: 15px"> 
                                                                    <img src="/assets/P/cpe.png" width="200" height="250" alt="" class="img-responsive" style="display: block; margin-left: auto; margin-right: auto;" /> 
                                                                </div>
                                                                <br>
                                                                <div class="row">
                                                                    <div class="col-md-2">

                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <div class="input-group input-group-lg">
                                                                            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="ค้นหาหนังสือทั้งหมดในช่องนี้">
                                                                            <div>
                                                                                <button type="button" class="btn btn-primary btn-lg">ปุ่มค้นหา <i class="fas fa-search"></i></button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="card-footer" style="background-color: #650DAD; padding-bottom: 50px;">
                                                            
                                                        </div>
                                                    </div>
                                                   </div>  
                                               </div>
                                            </div>
                                    </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section> -->
<app-footer></app-footer>   
{{ rak }}